<%- include('header')  %>

    <h2>ข้อมูลส่วนตัว</h2>

    <img  src="./assets/images/pic1.jpg" class="gallery" />
    <img  src="./assets/images/pic2.jpg" class="gallery" />
    <img  src="./assets/images/pic3.jpg" class="gallery" />

    <p class="desc"> 
        สมเกียรติ ใจดี <br/>
        อีเมล์ somkiat@sdtc.ac.th <br/>
        โทร. 092-8064949
    </p>

<%- include('footer')  %>   